<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Webex Instant Connect Portal</title>

    <link rel="stylesheet" href="../static/css/cui-standard.min.css">
    <script src="../static/js/admin.js"></script>

    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
</head>
<body class="cui">
    <nav class="header" id="styleguideheader" role="navigation">
        <div class="container-fluid">
            <div class="header-panels">
                <div class="header-panel hidden-md-down">
                    <a class="header__logo" href="http://www.cisco.com" target="_blank">
                        <span class="icon-cisco"></span>
                    </a>
                    <h1 class="header__title">
                        <span>Available Providers</span>
                    </h1>
                </div>
                <div class="header-panel header-panel--center base-margin-left base-margin-right hidden-lg-up">
                    <a class="header__logo" href="http://www.cisco.com" target="_blank">
                        <span class="icon-cisco"></span>
                    </a>
                </div>
                <div class="header-panel header-panel--right hidden-md-down">
                  <a href="/admin/home" class="header-item" title="UI Kit Home"><span class="icon-home"></span></a>
                  <a href="/admin/patients" class="header-item">Patients</a>
                  <a href="/admin/providers" class="header-item">Providers</a>
                  <a href="/admin/appointments" class="header-item">Appointments</a>
                  <a onclick=logout() class="header-item btn btn--danger" style="color: white;">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
<html>
<head>
<br>
<br>
<br>
<br>
  <body>
    <div class="panel panel--loose panel--raised base-margin-bottom">
      <h2 class="subtitle">All Available Providers</h2>
      <hr>
     {% for provider in allProviders %}
        <div class="section">
        <ul class="accordion accordion--bordered">
        <li class="active">
          <a class="accordion__title" href="javascript:;">
            <span>{{provider['first_name']}} {{provider['last_name']}}</span>
            <span class="accordion__toggle icon-chevron-down"></span>
          </a>
          <div class="accordion__content">
            <p>
              {{provider['webex_person_id']}}
              <br>
              {{provider['email']}}
              <br>
              {{provider['hours_of_operation']}}
              <br>
              {{provider['timezone']}}
              <br>
          </div>
          </li>
     {% endfor %}
   </div>
   </body>

<div class="col-xl-3">
  <div class="section">
  <form method="get" action="/admin/providers">
    <button class="btn btn--secondary">Back to Provider Form</button>
  </form>
</div>
</div>

</html>
