<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Provider Login</title>

        <link rel="stylesheet" href="../static/css/cui-standard.min.css">

        <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
        <script src="../static/js/provider.js"></script>
    </head>
    <body class="cui">
        <nav class="header" id="styleguideheader" role="navigation">
            <div class="container-fluid">
                <div class="header-panels">
                    <div class="header-panel hidden-md-down">
                        <a class="header__logo" href="http://www.cisco.com" target="_blank">
                            <span class="icon-cisco"></span>
                        </a>
                        <h1 class="header__title">
                            <span>Webex Instant Connect Portal</span>
                        </h1>
                    </div>
                    <div class="header-panel header-panel--center base-margin-left base-margin-right hidden-lg-up">
                        <a class="header__logo" href="http://www.cisco.com" target="_blank">
                            <span class="icon-cisco"></span>
                        </a>
                    </div>
                    
                </div>
            </div>
        </nav>
        <div class="content content--alt">
            <div class="container-fluid">
                <div class="row" style="justify-content: center;">
                    <div class="col-xl-3">
                        <div class="section">
                            <div class="panel panel--loose panel--raised base-margin-bottom">
                                <h2 class="subtitle">Provider Login</h2>
                                <hr>
                                <div class="section">
                                    <div class="form-group base-margin-bottom">
                                        <div class="form-group__text">
                                            <input id="email" type="email">
                                            <label for="input-type-email">Email</label>
                                        </div>
                                    </div>
                                    <div class="form-group base-margin-bottom">
                                        <div class="form-group__text">
                                            <input id="password" type="password">
                                            <label for="input-type-password">Password</label>
                                        </div>
                                    </div>
                                    <div class="form-group base-margin-bottom" style="text-align: center; color: red" id="error-text"></div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <button class="btn btn--primary" onclick=login()>Login</button>
                                        <button class="btn btn--success" onclick="location.href='/login'">Go Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
